#CourseList {
    margin-top: 40px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 95%;
}

#CourseList th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    font-size: 18px;
}

#CourseList th[colspan="2"] {
    text-align: center;
}

#CourseList td {
    text-align: left;
}
