.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    align-items: center;
    color: red;
    font-size: 30px;
}

.App-header img {
    width: 300px;
}

.App-body {
    margin: 10px;
}

.App-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}